<tr style="border-bottom:1px solid #334155;">
            <td class="text-center" >{{ .ID }} </td>
            <td class=""> {{ .SHORT }} <button class=" btn btn-primary ms-2">copy</button></td>
            <td class="">{{ .ORG }}</td>
            <td class="text-center align-middle">
                <button class="btn btn-sm btn-primary  w-100">VIEW</button>
            </td>
              <td class="text-center align-middle">
                <button class="btn btn-sm btn-danger  w-100">Delete</button>
            </td>
        </tr>