<!-- DESKTOP TOGGLE BUTTON -->
<button class="btn btn-outline-primary mb-3 d-none d-lg-inline"
    data-bs-toggle="collapse"
    data-bs-target="#sidebarCollapseWrapper">
    <i class="bi bi-list"></i>
</button>

<h2 class="text-center mb-4" style="letter-spacing:1px; font-weight:600; color: white;">
    YOUR URL'S
</h2>

<div class="table-responsive p-3 rounded-3 "   style="
    background:#1e293b;
    box-shadow:0 4px 20px rgba(0,0,0,0.35);
    border:1px solid #334155;
    max-width:90%;
    margin:auto;
">
<table class="table table-striped-columns table-dark rounded-3 table-hover"  style="border-color:#334155; margin-bottom: 0px;">
    <thead style="background:#0f172a; color:#e2e8f0;">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Short URL</th>
            <th class="text-center">Full URL</th>
            <th class="text-center">Analytics</th>
        </tr>
    </thead>

    <tbody>
    {{ range .Urls }}
        <tr style="border-bottom:1px solid #334155;">
            <td class="text-center" >{{ .ID }}</td>
            <td class=""> {{ .SHORT }}</td>
            <td class="">{{ .ORG }}</td>
            <td class="text-center align-middle">
                <button class="btn btn-sm btn-primary  w-100">VIEW</button>
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
</div>

